 <!-- Details 1 -->
 <section
 id="details"
 class="details position-relative my-6 overflow-hidden"
>
 <img
   src="images/decoration-star.svg"
   alt=""
   class="decoration-star position-absolute"
 />
 <div class="container position-relative z-3">
   <div class="row">
     <div class="col-lg-6">
       <div class="image-container d-flex justify-content-center">
         <img src="images/details-1.png" alt="" class="img-fluid" />
       </div>
     </div>
     <div class="col-lg-6">
       <div class="mt-4">
         <h2 class="mb-4">
           Create <span class="text-primary">Unique</span> Office Spaces
         </h2>
         <ul class="list-unstyled">
           <li class="d-flex mb-3">
             <i class="fas fa-check text-primary fa-2x mx-4"></i>
             <p>
               Our approach ensures that every office space is tailored to
               the unique needs and preferences of our clients. No two
               spaces look the same.
             </p>
           </li>
           <li class="d-flex mb-3">
             <i class="fas fa-check text-primary fa-2x mx-4"></i>
             <p>
               We pay attention to every detail, ensuring that the design
               elements, furniture, and decor create a harmonious and
               inspiring atmosphere.
             </p>
           </li>
           <li class="d-flex mb-3">
             <i class="fas fa-check text-primary fa-2x mx-4"></i>
             <p>
               Our team of experts guarantees that your office space will
               be a reflection of your brand identity and company culture.
             </p>
           </li>
           <li class="d-flex mb-3">
             <i class="fas fa-check text-primary fa-2x mx-4"></i>
             <p>
               Existence as discourse is. Pleasure friendly at marriage
               blessing or should
             </p>
           </li>
         </ul>
         <a href="article.html" class="btn btn-primary">Get Started</a>
       </div>
     </div>
   </div>
 </div>
</section>



<% if isempty(users) %> 
  <p>Nothing to show!</p> 
<% else %> 
    <ul> 
      <% for_each(users) do user %> 
        <li> 
          <input type="checkbox" checked=true/> 
          <label>$(user.username)</label>
        </li> 
      <% end %> 
    </ul> 
<% end %>


<!--
<h1 class="text-primary">Test</h1>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-6">
  
      <div class="card rounded-4 shadow-lg border-0 mb-5">
        <div class="card-body">
          <div>
            <h4 class="fw-bold">Free</h4>
            <p class="text-muted">For Freelancers</p>
          </div>
          <h2 class="fs-1 fw-bold mt-4 mb-5">0</h2>
          <ul class="list-group list-group-flush fs-5 mb-5 vstack gap-2">
            <li class="list-group-item border-0">
              <i class="bi bi-check2"></i> Single User
            </li>
            <li class="list-group-item border-0">
              <i class="bi bi-check2"></i> 10 Downloads
            </li>
            <li class="list-group-item border-0">
              <i class="bi bi-check2"></i> Faster Files
            </li>
            <li class="list-group-item border-0">
              <i class="bi bi-check2"></i> 25 Custom Packs
            </li>
          </ul>
          <div class="d-grid">
            <button class="btn btn-dark rounded-4 mt-5 mb-4">
              Subscribe
            </button>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
-->