<!-- Details 2 -->
 <section class="details-2 position-relative my-6 overflow-hidden">
    <img
      src="images/decoration-star.svg"
      alt=""
      class="decoration-star position-absolute"
    />
    <div class="container position-relative z-3">
      <div class="row">
        <div class="col-lg-6">
          <div class="text-container text-center text-lg-start mb-4">
            <h2>
              Users <span class="text-primary">Productivity</span> Report
            </h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates delectus, soluta autem asperiores quaerat placeat.
            </p>
        <!--
            <a href="article.html" class="btn btn-primary">Get Started</a>
        -->
          </div>
        </div>
       
        <div class="col-lg-6">
          <div class="image-container d-flex justify-content-center">
            <img src="images/details-2.png" alt="" class="iimg-fluid" />
          </div>
        </div>
      
      </div>
    </div>
  </section>
